<div class="text-center">
  <qrcode size="250" data="{{address.address}}"></qrcode>
  <h4>{{address.address}}</h4>
  <div class="m10t">
    <span ng-if="$root.updatingBalance">
      <i class="fi-bitcoin-circle icon-rotate spinner"></i>
    </span>
    <p class="m15b" ng-if="!$root.updatingBalance">
      {{address.balance || 0|noFractionNumber}} {{$root.unitName}}
    </p>
    <button class="button secondary" open-external address="{{address.address}}">
      <i class="fi-link">&nbsp;</i> Open in external application
    </button>
  </div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
